body {
	overflow-x: hidden;
}

.register_logo {
	display: block;
	width: 100%;
	height: 35vh;
}

#cd-login {
	width: 100%;
	height: auto;
	margin-top: 4rem;
	background: #fefefe;
	margin-bottom: 4rem;
}
.cd-form{
	padding: 0 4rem;
	box-sizing: border-box;
}
.cd-form .fieldset {
	width: 100%;
	height: 4.2rem;
	/*position: relative;*/
	border: 1px solid #55C1C8;
	border-radius: 5rem;
	box-sizing: border-box;
	display: flex;
	justify-content: inherit;
	align-items: center;
	
}

.cd-form .fieldset input[type=text],
.cd-form .fieldset input[type=password],
.cd-form .fieldset input[type=button] {
	width: 70%;
	height:3rem;
	outline: none;
	background: none;
	box-sizing: border-box;
	/*margin-left: 5%;*/
	font-size: 1.4rem;
	/*border: 1px solid #d2d8d8;*/
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	/*border-radius: 0.5rem;*/
}

.cd-form .fieldset input[type=button] {
	/*background-color: #3299fe;
	color: #fefefe;
	font-size: 1.5rem;
	font-weight: bold;*/
	background: url('../img/loginok.png') no-repeat;
	background-size:cover ;
	width: 100%;
	height: 4rem;
}
.fieldsetok{
	width: 100%;
	height: 4rem;
	/*background: #0000FF;*/
}
.cd-form .btn{
	width: 100%;
	height: 4.2rem;
	background: url('../img/loginok.png') no-repeat center;
    background-size: cover;
    border: none;
    
}
.fieldset .deltext{
	width: 1.4rem;
	height: 1.4rem;
}
.butok{
	width: 100%;
	height: 4.2rem;
	/*background: url('../img/loginok.png') no-repeat center 0;
    background-size: cover;*/
    padding: 0;
    background: none;
    outline: none;
    border: none;
    /*margin-top: 15px;*/
}
.cd-form .userimg{
	margin:0 1.4rem 0 2rem;
	width: 1.1rem;
	height: 1.6rem;
	background: url('../images/logintel.png') no-repeat;
	background-size: 100% 100%;
    /*position: absolute;*/
    overflow: hidden; ;
}
.cd-form .userpswimg{
	margin:0 1.4rem 0 2rem;
	width: 1.25rem;
	height: 1.55rem;
	background: url('../images/loginpsd.png') no-repeat;
	background-size: cover;
    /*position: absolute;*/
    overflow: hidden; ;
}

.cd-form .fieldset input[type=text],
.cd-form .fieldset input[type=password] {
	/*padding-left: 4rem;*/
}

.cd-form .fieldset .image-replace {
	/*position: absolute;*/
	display: block;
	width: 4rem;
	height: 4rem;
	font-size: 2rem;
	line-height: 4rem;
	text-align: center;
	/*left: 5%;*/
	font-size: 1.4rem;
}

.cd-form .register_prompt {
	width: 100%;
	height: 2rem;
	/*margin-left:10%;*/
	line-height: 2rem;
	font-size: 1rem;
}

.remember_login {
	margin-left: 5%;
	font-size: 1rem;
}

.qdy {
	width: 100%;
	height: 100%;
}

.qdy img {
	display: block;
	width: 100%;
	height: 100%;
}

.hide {
	display: none;
}

#caozuo {
	display: flex;
	padding: 0 5%;
	box-sizing: border-box;
	align-items: center;
	font-size: 1.4rem;
	color: #1C1B1B;
}
#caozuo .forgetpsd{
	
	font-size: 1.4rem;
	color: #1C1B1B;
}
#caozuo #check {
	display: inline-block;
	width: 1.3rem;
	height: 1.3rem;
	margin-right: 0.5rem;
}
.forgetpsd{
	text-decoration: none;
}
.chooseBox{
	padding: 0!important;
}
.chooseBox label{
    line-height: 20px;
    display: inline-block;
    margin-left: 5px;
    margin-right:15px;
    color: #777;
}
.chooseBox .radio_type{
    width: 20px;
    height: 20px;
    appearance: none;
    position: relative;
}
.chooseBox .radio_type:before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}
.chooseBox .radio_type:checked:before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #54C1CB;
    background:#54C1CB;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}
.chooseBox .radio_type:checked:after{
    content: '';
    width: 10px;
    height:5px;
    border: 2px solid white;
    border-top: transparent;
    border-right: transparent;
    text-align: center;
    display: block;
    position: absolute;
    top: 6px;
    left:5px;
    vertical-align: middle;
    transform: rotate(-45deg);
}
..chooseBox .radio_type:checked+label{
    color: #54C1CB;
}